@charset "utf-8";

body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
	font-family: Microsoft YaHei, 'SimSun', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

.imageLazy {
	display: none;
}

.blockTitle {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	font-size: 20px;
	text-align: left;
}

.blockTitle>.count {
	margin-left: 10px;
	font-size: 12px;
}

.badge {
	
}

.wordKeepLine {
	width: 90%;
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
}